<style>
  .d-flex {
    align-items: center;
  }
</style>
<div class="container">
  <% if (user._id !== tripUser._id) { %>
    <h3><%=user.name%>'s trips</h3>
  <% } %>
  <div class="btn-group mt-3">
        <div class="dropdown mr-4">
          <!--Trigger-->
          <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Sort</button>
          <!--Menu-->
          <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="?return=al_inc">Alphabetical (A-Z)</a>
              <a class="dropdown-item" href="?return=al_dec">Alphabetical (Z-A)</a>
              <a class="dropdown-item" href="?return=favorite">Favorites</a>
              <a class="dropdown-item" href="?return=closest">Start Date (closest first)</a>
              <a class="dropdown-item" href="?return=furthest">Start Date (furthest away first)</a>
          </div>
        </div>

        <div class="dropdown">
          <!--Trigger-->
          <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Filter</button>
          <!--Menu-->
          <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="?return=future">Show future trips</a>
              <a class="dropdown-item" href="?return=all">Show all trips</a>
              <a class="dropdown-item" href="?return=previous">Show previous trips</a>
          </div>
        </div>
  </div>

  <% trips.forEach(trip => { %>
    <div class="card mt-3">
      <div class="card-header">
        <h4 class="d-flex">
          <div class="mr-auto p-2">Trip: <%=trip.name%> &nbsp;&nbsp; Begin Date: <%=trip.start_date_str%>, Total Days: <%=trip.total_duration%></div>
            <% if (trip.favorite === true) { %>
              <form class="p-2" action="/trips/<%=trip._id%>-unfavorite" method="post">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-star mr-1"></i></button>
              </form>
            <% } else { %>
              <form class="p-2" action="/trips/<%=trip._id%>-favorite" method="post">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-star-o mr-1"></i></button>
              </form>
            <% } %>
          <form class="p-2" action="/trips/<%=trip._id%>?_method=delete" method="post" style="padding-right: 0rem">
            <button type="submit" class="btn danger-color-dark btn-sm"><i class="fa fa-trash mr-1"></i></button>
          </form>
        </h4>

      </div>
      <div class="card-body">
        <p>Link: <a href="/trips/<%=trip._id%>">http://localhost:8081/trips/<%=trip._id%></a></p>
        <a
          href="https://twitter.com/intent/tweet?text=http://localhost:8081/trips/<%=trip._id%>">
          <i class="fa fa-twitter"></i></a>
      </div>
    </div>
  <% }) %>
</div>
