<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <div class="bg-light">
    <% if (locals.data) { %>
        <form method="post" id="travel_form" style="text-align: center">

            <br>
            <span class="form-inline">
                    <div class="mx-auto form-inline"><input class="form-control text-center" type="text" id="title" placeholder="Enter the name of your trip" style="width: 30rem; height: 2.5rem ;"></div>
            </span>
            <br>
            <span class="form-inline">
                    <br>
                <div class="mx-auto form-inline"><label class="pr-3" for="datepicker" >Start date</label>
                <input name="date" id="datepicker" width="276" /></div>
            </span>
            <br>
            
            <% var i = 0; %>
            <% data.location_data.forEach(function(obj) { %>
                <div class="form-group">
                    <label class="h5"><%- obj[0] %></label>
                    <span class="form-inline">
                            <div class="mx-auto form-inline"><input type="text " placeholder="Duration of stay" class="form-control mr-3 text-center" name="duration" id="<%- obj[0] %>-stay">
                        <input type="text" placeholder="Order" class="form-control text-center" name="order" id="<%- obj[0] %>-order"></div>
                    </span>
                    
                </div>
                <span class="form-check form-check-inline pb-4">
                        <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="plane" id="<%- obj[0] %>-r1">
                                <label class="form-check-label">
                                    Plane
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="train" id="<%- obj[0] %>-r2">
                                <label class="form-check-label">
                                    Train
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="car" id="<%- obj[0] %>-r3">
                                <label class="form-check-label">
                                    Car
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="none" id="<%- obj[0] %>-r4" checked>
                                <label class="form-check-label">
                                    None
                                </label>
                            </div>
                </span>
                
                <% i++; %>
            <% }) %>
     

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="rt" id="gridCheck">
                    <label class="form-check-label">
                    Round Trip?
                    </label>
                </div>
            </div>

            <div class="form-check form-check-inline" >
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value="ce">Cost Efficient
                </label>
            </div>
            <div class="form-check form-check-inline pb-4">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value="te">Time Efficient
                </label>
            </div>
            <br>
 
            <button type="submit" class="btn btn-primary" onclick="checker()">Plan my vacation!</button>
            <a href="http://localhost:8081/" id="cancel" name="cancel" class="btn btn-primary">Cancel<a>
        
        </form>
    <% } %>
    
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });

        function checker() {
            var x = true;
            var checked = true;
            if (x = document.getElementsByClassName("form-check-input")) {
                console.log("radio button checked")
            }
            var dateInput = document.getElementById("datepicker");
            var durationInput = document.getElementsByName("duration");
            var orderInput = document.getElementsByClassName("form-control");
            var titleInput = document.getElementById("title");

            // console.log(orderInput);
            //     console.log(orderInput.value);
            if ((dateInput && dateInput.value)) {
                console.log("date checked")
            }
            else {
                checked = false;
            }
            if (durationInput && durationInput.value) {
                console.log("duration checked")
            }
            else {
                checked = false;
            }
            if (titleInput && titleInput.value) {
                console.log("title checked")
            }
            else {
                checked = false;
            }

            //something is wrong here - ask alexis ---> THE THING IS THAT FOR ORDER VALUE SOMETHING 
            //WEIRD IS BEING OUTPUTTED INTO THE CONSOLE IDRK WHATS GOING IN....ALEXIS HELP :(
                
            // if (orderInput && orderInput.value) {
                
            //     console.log("order checked")
            // }
            // else {
            //     checked = false;
            //     console.log("something is wrong")
            // }
            // if (!(dateInput && dateInput.value) || 
            //     !(durationInput && durationInput.value) || 
            //     !(orderInput && orderInput.value)){
            //     alert("Form is not completed. Please go back and check.")
            // }
            if (checked == false) {
                alert("Form is not completed. Please go back and check.");
            }
            
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    </div>