<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Causes issues with datepicker looking bad-->
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<link href="../../public/css/form.css" rel="stylesheet" type="text/css" />
<br>
    <% if (locals.data) { %>
    <form onsubmit="return checker();" method="post" id="travel_form" style="text-align: center">
        <input type="hidden" id="order" name="order" value="" />
        <br>
        <div class="container">
          <div class="card-columns">
            <div class="card p-3">
                <div class="card-header">
                  <h4>Trip Start</h4>
                </div>
                <div class="drag-list">
                    <% var i = 0; %>
                    <% data.location_data.forEach((obj) => { %>
                    <div class="drag-item" id="<%- obj[0] %>-item">
                        <!-- Don't put anything above this form-group, it will mess up how the order is made! -->
                        <div class="form-group pt-2">
                            <label class="h5" text="place_name">
                                <%- obj[0] %></label>
                            <span class="form-inline">
                                <i class="fa fa-sort mr-1" aria-hidden="true"></i>
                                <% if (i === 0) { %>
                                    <div class="mx-auto form-inline pt-2"><input type="text" placeholder="Duration of stay" class="form-control mr-3 text-center"
                                        name="duration" id="<%- obj[0] %>-stay" value="0" readonly>
                                    </div>
                                <% } else { %>
                                    <div class="mx-auto form-inline pt-2"><input type="text" placeholder="Duration of stay" class="form-control mr-3 text-center"
                                        name="duration" id="<%- obj[0] %>-stay">
                                    </div>
                                <% } %>
                            </span>
                        </div>

                        <span class="form-check form-check-inline pb-2">
                            <div class="form-check">
                                <% if (i === 0) { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="plane" id="<%- obj[0] %>-r1" disabled>
                                <% } else { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="plane" id="<%- obj[0] %>-r1">
                                <% } %>
                                <label class="form-check-label">
                                    Plane
                                </label>
                            </div>
                            <div class="form-check">
                                <% if (i === 0) { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="train" id="<%- obj[0] %>-r2" disabled>
                                <% } else { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="train" id="<%- obj[0] %>-r2">
                                <% } %>
                                <label class="form-check-label">
                                    Train
                                </label>
                            </div>
                            <div class="form-check">
                                <% if (i === 0) { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="car" id="<%- obj[0] %>-r3" disabled>
                                <% } else { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="car" id="<%- obj[0] %>-r3">
                                <% } %>
                                <label class="form-check-label">
                                    Car
                                </label>
                            </div>
                            <div class="form-check">
                                <% if (i === 0) { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="none" id="<%- obj[0] %>-r4" checked disabled>
                                <% } else { %>
                                    <input class="form-check-input" type="radio" name="exampleRadios <%= i %>" value="none" id="<%- obj[0] %>-r4" checked>
                                <% } %>
                                <label class="form-check-label">
                                    Other
                                </label>
                            </div>
                        </span>

                        <button type="button" onclick="toggleDisabled(this.id)" id="<%- obj[0] %>" class="btn danger-color-dark btn-sm" style="padding-left: 1.05rem; padding-right: 0.75rem"><i class="fa fa-trash mr-1"></i></button>
                        <input type="hidden" id="<%- obj[0] %>-removed" name="removed" value="false" />
                    </div>
                    <% i++; %>
                    <% }) %>
                </div>
                <br>
                <div class="card-footer">
                  <h4>Trip End</h4>
                </div>
            </div>
            <div class="card p-3">
                <div class="form-group mt-3">
                  <label for="title">Trip name</label>
                    <input class="form-control text-center" type="text" id="title" name="title"
                      placeholder="e.g. Chicago to New York">
                </div>
                <div class="form-group mt-1">
                  <label for="datepicker">Start date</label>
                  <input class="text-center" name="date" id="datepicker" />
                </div>
                <div class="form-group">
                  <label>Trip Efficiency</label>
                  <br>
                  <div class="form-check form-check-inline mt-1">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" id="1" value="te" checked>Cheapest
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" id="2" value="ce">Fastest
                    </label>
                  </div>
                </div>

                <div class="form-group mt-2">
                    <label for="exampleSelect1">Number of people traveling</label>
                    <select class="form-control" id="select" name="numPeople">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                    </select>
                </div>

                <div class="container">
                        <div class="row justify-content-center">
                            <a href="/trips/prev_map" class="fas fa-arrow-left fa-2x" style="padding-top: .90rem; padding-right: 1rem"></a>
                            <button type="submit" class="btn btn-primary">Plan my vacation!</button>
                            <a href="/trips/create" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
                        </div>
                </div>
            </div>
          </div>
    </div>
    </form>
    <% } %>

<script>
    $(".drag-list").sortable({
        axis: 'y',
        placeholder: 'slide-placeholder',
        revert: 150,
        start: function (e, ui) {
            var placeholderHeight = ui.item.outerHeight();
            ui.placeholder.height(placeholderHeight);
            ui.placeholder.css({
                'margin-top': ui.item.css('margin-top'),
                'margin-right': ui.item.css('margin-right'),
                'margin-bottom': ui.item.css('margin-bottom'),
                'margin-left': ui.item.css('margin-left')
            });
            $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);
        },
        change: function (event, ui) {
            ui.placeholder.stop().height(0).animate({
                height: ui.item.outerHeight(),
                marginTop: parseInt(ui.item.css('margin-top')),
                marginRight: parseInt(ui.item.css('margin-right')),
                marginBottom: parseInt(ui.item.css('margin-bottom')),
                marginLeft: parseInt(ui.item.css('margin-left'))
            }, 150);
            placeholderAnimatorHeight = parseInt($(".slide-placeholder-animator").attr("data-height"));

            $(".slide-placeholder-animator").stop().height(placeholderAnimatorHeight).animate({
                height: 0,
                marginTop: 0,
                marginRight: 0,
                marginBottom: 0,
                marginLeft: 0
            }, 150, function () {
                $(this).remove();
                var placeholderHeight = ui.item.outerHeight();
                $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);
            });
        },
        stop: function (e, ui) {
            $(".slide-placeholder-animator").remove();
            var $list = $(".drag-list");
            var listElements = $list.children();
            for (var i = 0; i < listElements.length; i++) {
                var element = listElements[i].firstElementChild.firstElementChild;
                var id = (element.innerHTML).trim();

                if (i == 0) {
                    $(document.getElementById(id + "-stay")).prop( "readonly", true );
                    $(document.getElementById(id + "-stay")).val(0);
                    $(document.getElementById(id + "-r1")).prop( "disabled", true );
                    $(document.getElementById(id + "-r2")).prop( "disabled", true );
                    $(document.getElementById(id + "-r3")).prop( "disabled", true );
                    $(document.getElementById(id + "-r4")).prop( "checked", true );
                    $(document.getElementById(id + "-r4")).prop( "disabled", true );
                }
                else if ($(document.getElementById(id + "-removed")).val() === "false" || $(document.getElementById(id + "-removed")).val() === ""){
                    $(document.getElementById(id + "-stay")).prop( "readonly", false );
                    $(document.getElementById(id + "-r1")).prop( "disabled", false );
                    $(document.getElementById(id + "-r2")).prop( "disabled", false );
                    $(document.getElementById(id + "-r3")).prop( "disabled", false );
                    $(document.getElementById(id + "-r4")).prop( "disabled", false );
                }
            }
        },
    });
</script>

<script>
    function toggleDisabled(id) {
        if ($(document.getElementById(id + "-removed")).val() === "false" || $(document.getElementById(id + "-removed")).val() === "") {
            $(document.getElementById(id + "-stay")).val('');
            $(document.getElementById(id + "-stay")).prop( "disabled", true );
            $(document.getElementById(id + "-removed")).val("true");
            $(document.getElementById(id + "-r1")).prop( "disabled", true );
            $(document.getElementById(id + "-r2")).prop( "disabled", true );
            $(document.getElementById(id + "-r3")).prop( "disabled", true );
            $(document.getElementById(id + "-r4")).prop( "disabled", true );
        }
        else {
            $(document.getElementById(id + "-removed")).val("false");
            $(document.getElementById(id + "-stay")).prop( "disabled", false );
            $(document.getElementById(id + "-r1")).prop( "disabled", false );
            $(document.getElementById(id + "-r2")).prop( "disabled", false );
            $(document.getElementById(id + "-r3")).prop( "disabled", false );
            $(document.getElementById(id + "-r4")).prop( "disabled", false );
        }
    }

    $('#datepicker').datepicker({
        uiLibrary: 'fontawesome'
    });

    function checker() {
        var $list = $(".drag-list");
        var listElements = $list.children();
        var order = [];
        for (var i = 0; i < listElements.length; i++) {
            var e = listElements[i].firstElementChild.firstElementChild;
            var name = (e.innerHTML).trim();
            var removed = $(document.getElementById(name + "-removed")).val();
            if (removed === 'false') {
                order.push(name);
            }
        }
        $('#travel_form > input').val(JSON.stringify(order));

        var x = true;
        var checked = true;
        if (x = document.getElementsByClassName("form-check-input")) {
            console.log("radio button checked")
        }
        var dateInput = document.getElementById("datepicker");
        var durationInput = document.getElementsByName("duration");
       // var orderInput = document.getElementsByName("order");
        var titleInput = document.getElementById("title");
        var optionInput1 = document.getElementById("1");
        var optionInput2 = document.getElementById("2");

        // console.log(orderInput);
        //     console.log(orderInput.value);
        if ((dateInput && dateInput.value)) {
            console.log("date checked")
        }
        else {
            checked = false;
        }
        if (durationInput) {
            for (var i = 0; i < durationInput.length; i++) {
                if ((!durationInput[i].value || isNaN(durationInput[i].value) || durationInput[i].value < 0) && !durationInput[i].disabled) {
                    checked = false;
                }
            }
            console.log("duration checked")
        }
        else {
            checked = false;
        }

        if (titleInput && titleInput.value) {
            console.log("title checked")
        }
        else {
            checked = false;
        }

        if (!optionInput1.checked && !optionInput2.checked) {
            checked = false;
        }

        if (checked == false) {
            alert("Form is not completed. Please go back and check.");
        }
        return checked;
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>