<div class="container mt-3">
  <% if (locals.trip) { %>
    <h3>Trip name: <%= trip.name %></h3>
    <h3>Start date: <%= trip.start_date %></h3>
    <% for (var i = 0; i < trip.locations.length; i++) { %>
      <div class="card my-3">
        <div class="card-header">
          <h4><%= trip.locations[i]['name'] %></h4>
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Flights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hotels</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="flights" id="flights_<%=i%>">
            <i class="fa fa-spinner fa-spin" id="flight_spinner_<%=i%>"></i>
          </div>
          <div class="hotels" id="hotels_<%=i%>">
            <i class="fa fa-spinner fa-spin" id="hotel_spinner_<%=i%>"></i>
          </div>
          <% if (i < trip.locations.length - 1) { %>
            <script>
              $.ajax({
                datatype: 'json',
                url: '<%=trip._id%>/' + 'transportation',
                type: 'get',
                data: {
                  index: '<%=i%>'
                },
                success: function(data) {
                  console.log('received response:')
                  console.log(data);
                }
              });
            </script>
          <% } %>
          <script>
          
          </script>
          <!--
          <h5>Card content- says one of the two based on the tab chosen:</h5>
          <h5>Hotels in Chicago from 9/26/18 to 10/1/18</h5>
          <h5>Flights from Chicago to New York on 10/1/18</h5>
          -->
        </div>
      </div>
    <% } %>
  <% } %>
</div>