<div class="card">
    <h5 class="card-header">Travel Itinerary</h5>
    <div class="card-body">
      <h5 class="card-title">Flights</h5>
      <% for (var i = 0; i < flights.length; i++) { %>
        <p class="card-text">Departure: <%= flights[i][0] %> from <%= flights[i][2] %></p>
        <p class="card-text">Arrival: <%= flights[i][1] %> at <%= flights[i][3] %></p>
        <p class="card-text">Airline: <%= flights[i][4] %></p>
        <p class="card-text">Flight Number: <%= flights[i][5] %></p>
        <p class="card-text">Seat: <%= flights[i][6] %></p>
        <p class="card-text">Total Ticket Cost: <%= flight_prices[i] %></p>
      <% } %>
      <h5 class="card-title">Hotels</h5>
      <% for (var i = 0; i < hotels.length; i++) { %>
        <p class="card-text">Hotel: <%= hotels[i][0] %></p>
        <p class="card-text">Address: <%= hotels[i][1] %></p>
        <p class="card-text">Total Cost: <%= hotel_prices[i] %></p>
      <% } %>
      <a href="#" class="btn btn-primary">Save Itinerary!</a>
    </div>
</div>